.setting {
  display: grid;
  gap: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.setting__input {
  display: flex;
}

.setting__field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding: 20px;
  background-color: var(--heading-color);
}

@media (max-width: 540px) {
  .setting {
    display: grid;
    gap: 20px;
  }

  .setting__field {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr auto;
  }
  /* .setting__field:first-child {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  } */
}
