.chat__sidebar {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: var(--bg-color);
  border-right: 1px solid var(--bg-active);
}

.chat__empty {
  margin: 20px;
}

.label {
  margin: 22px;
}

.label__detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  color: var(--font-color);
}

.logo {
  height: 20px;
  width: auto;
}

.setting-icon {
  width: 26px;
  height: 26px;
  transition: transform 0.7s ease-in-out;
  cursor: pointer;
}

.setting-icon:hover {
  transform: rotate(360deg);
}

.chat__rooms {
  overflow-y: scroll;
}

@media (max-width: 540px) {
  .chat__sidebar {
    width: 100svw;
  }
  /* .chat__rooms {
    overflow-y: scroll;
  } */
}

@media (max-width: 390px) {
  .room__item__icon {
    width: 55px;
    height: 55px;
  }
  .room__item__name {
    font-size: 20px;
  }
  .room__item__message {
    font-size: 18px;
  }
}
