.label {
  margin: 22px;
}

.logo {
  height: 20px;
  width: auto;
  margin-bottom: 18px;
}

.chat__rooms {
  margin-top: 30px;
}

.chat__sidebar {
  height: 100%;
  background-color: #fff;
  border-right: 1px solid #eee;
}

.chat__empty {
  margin: 20px;
}

@media (max-width: 540px) {
  .chat__sidebar {
    width: 100vw;
  }
}

@media (max-width: 390px) {
  .room__item__icon {
    width: 55px;
    height: 55px;
  }
  .room__item__name {
    font-size: 20px;
  }
  .room__item__message {
    font-size: 18px;
  }
}
