.message__container {
  width: 100%;
  background: url('./Group.png');
  background-color: #fafafa;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 18px;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 12px 18px 6px 18px;
  gap: 4px;
  position: relative;

  background: #f4f4f7;
  border-radius: 0px 16px 16px 16px;
}

.my {
  /* display: flex; */
  justify-content: flex-end;
  border-radius: 16px 16px 0px 16px;
}

.message__block {
  display: flex;
}

.message__footer {
  display: flex;
  gap: 10px;
}
.my__message {
  display: flex;
  justify-content: flex-end;
}

.message__time {
  display: flex;
  justify-content: end;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.45);
}

.st {
  margin-right: 9px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.context__list {
  position: absolute;
  border-radius: 7px;
  list-style: none;
  border: 1px solid #fafafa;

  margin: 0;
  /* padding: 3px 0 4px; */

  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
  z-index: 2;
  font-size: 14px;
  line-height: 15px;
}

.context__list__item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 30px;

  border-bottom: 1px solid #eee;
}

.context__list__item:first-child {
  border-radius: 7px 7px 0 0;
}

.context__list__item:last-child {
  border-bottom: 0;
  border-radius: 0 0 7px 7px;
}

.context__list__item:hover {
  background-color: #3f7dfb;
  cursor: pointer;
  color: #fff;
}

@media (max-width: 390px) {
  .message__text {
    font-size: 19px;
  }

  .st {
    width: 33px;
    height: 33px;
  }
}
