.chat__header {
  display: flex;
  background: var(--bg-color);
  padding: 13px 0 6px 20px;
  width: 100%;
  border-bottom: 1px solid var(--bg-active);
  gap: 12px;
  align-items: center;
  color: var(--font-color);
}

.chat__header__img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.chat__header__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--font-color);
}

.back__btn {
  display: none;
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

@media (max-width: 540px) {
  .back__btn {
    display: block;
  }
  .chat__header {
    padding: 20px;
  }
}

@media (max-width: 390px) {
  .chat__header__name {
    font-size: 25px;
  }
}
