.chat__header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  background: var(--bg-color);
  padding: 10px 20px;
  width: 100%;
  border-bottom: 1px solid var(--bg-active);
  gap: 12px;
  align-items: center;
  color: var(--font-color);
}

.chat__header__img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.chat__header__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--font-color);
}

.back__btn {
  display: none;
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.chat__header__menu {
  width: 22px;
  height: 22px;
  cursor: pointer;
  color: var(--font-color);
}

/* .chat__header__menu:hover {
  color: var(--font-color);
} */

@media (max-width: 540px) {
  .back__btn {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--primary-color);
    font-size: 16px;
  }
  .chat__header {
    /* padding: 20px; */
  }

  .createroom {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 390px) {
  .chat__header__name {
    font-size: 25px;
    text-align: center;
  }

  .chat__header__img {
    display: none;
  }
  .chat__header__menu {
    order: 3;
  }
}
