:root {
  --body_background: white;
  --body_color: black;
  --link_color: navy;
}

/* [data-theme='dark'] {
  --body_background: #282c34;
  --body_color: white;
  --link_color: cyan;
} */

[data-theme='light'] {
  --primary-color: #3f7dfb;
  --secondery-color: #eee;
  --danger-color: #ca0b00;
  --font-color: #676767;
  --bg-color: #fff;
  --font-active-color: #00000073;
  --bg-active: #eee;
  --message-color: #fff;
  --heading-color: #fafafa;
}
[data-theme='dark'] {
  --primary-color: #bb86fc;
  --secondery-color: #3f7dfb;
  --danger-color: #ca0b00;
  --font-color: #e1e1ff;
  --bg-color: #212121;
  --font-active-color: #00000073;
  --bg-active: #757575;
  --message-color: #323232;
  --heading-color: #424242;
}
* {
  transition: background-color 0.3s ease-in-out;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
