.message {
  display: flex;
  flex-direction: column;
  padding: 12px 18px 6px 18px;
  gap: 4px;
  position: relative;
  background: var(--secondery-color);
  /* background: #f4f4f7; */
  color: var(--font-color);
  border-radius: 0px 16px 16px 16px;
}

.message__author__avatar {
  margin: 0 9px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.message__author {
  font-size: 12px;
  color: var(--primary-color);
}

.message__author__invisible {
  display: none;
}
.my {
  /* display: flex; */
  justify-content: flex-end;
  border-radius: 16px 16px 0px 16px;
  background-color: var(--primary-color);
  color: var(--message-color);
}

.message__block {
  display: flex;
  align-items: start;
  gap: 10px;
}

.message__footer {
  display: flex;
  gap: 10px;
}
.my__message {
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: row-reverse;
  align-items: end;
}

.message__time {
  display: flex;
  justify-content: end;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  /* color: rgba(0, 0, 0, 0.45); */
}

.message__edit__btn {
  display: flex;
  gap: 5px;
}

.reply__block {
  background: var(--bg-color);
  border-radius: 16px;
  padding: 10px;
  display: grid;
  gap: 5px;
}

.reply__userName {
  color: var(--primary-color);
}

.reply__message {
  color: var(--font-color);
}
